<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Form for MVC practice</h1>
    <form action="/users" method="POST">
      <input type="text" name="name" placeholder="your name" />
      <input type="text" name="email" placeholder="ibrahim@gmail.com" />
      <input type="number" name="age" placeholder="age" />
      <button type="submit">save user</button>
    </form>
  </body>
</html>
